body{
  background-color: rgb(2, 92, 57);
}

.App{
  background-color: rgb(197, 170, 48);
  width: 400px;
  min-height: 500px;
  margin: 40px auto;
}

#to-do-form input{
  background-color: rgb(255, 255, 255);
  padding: 25px;
  border: 0px;
  font-size:0 20px;
  margin: 20px;
  width: 200px;
  font-size:20px;
  border-radius: 10px;
  color: rgb(1, 51, 28);
  font-weight: bolder;
}

#to-do-form input::placeholder{
  color: rgb(2, 37, 30);
} 

#to-do-form :focus{
  outline: none;
}

#to-do-form button{
  height: 50px;
  border-radius: 5px;
  background-color: rgb(30, 82, 124);
  width: 80px;
  border: 0;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-weight: bolder;
}

