.list{
    color: rgb(255, 255, 255);
    width: 300px;
    background-color: rgb(97, 5, 51);
    height: 50px;
    margin: 5px auto;
    font-size: 20px;
    border-radius: 10px;
}

.list p{
    padding: 12px;
    position: relative;
}

.list p span{
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.faicons {
    margin: 0 5px;
    font-size: 18px;
}

.list p input{
    background-color: transparent;
    border: 0;
    color: antiquewhite;
    font-size: 20px;
}

.list p input:focus{
    outline: none;
}
